
!!!
%html
  %head
  
  %body
    .flash-box  
      
    .wrapper
      = render partial: "shared/side_bar"
      .chat-main
        .main-header
          .current-group
            = @group.name
            %h2.current-group__name 
            %ul.member-list member:
            %li.member-list__member    
              - @members.each do |member|
                = member.name
          .edit_btn
            = link_to 'Edit', edit_group_path(@group.id), class: "btn"
    
        .messages
          = render @messages
        
        .form
          = form_for [@group, @message], html: {id: 'item_form'} do |f|
            = f.text_field :content, class: 'form__message', placeholder: 'type a message'
            .form__mask
              = f.label :image, class: 'form__mask__image' do
                = fa_icon 'picture-o', class: 'icon'
                = f.file_field :image, class: 'hidden'
            = f.submit 'Send', class: 'form__submit'
         
        
         
           
    