
!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ChatSpace
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .flash-box  
      
    .wrapper
      = render partial: "shared/side_bar"
      .chat-main
        .main-header
          .current-group
            %h2.current-group__name 現在のグループ
            %ul.member-list member:
            %li.member-list__member メンバーリスト
          %a{:href => "/groups/edit"}
            .main-header__edit-btn Edit

    
        .messages
          = render @messages
        
        .form
          = form_for [@group, @message] do |f|
            = f.text_field :content, class: 'form__message', placeholder: 'type a message'
            .form__mask
              = f.label :image, class: 'form__mask__image' do
                = fa_icon 'picture-o', class: 'icon'
                = f.file_field :image, class: 'hidden'
            = f.submit 'Send', class: 'form__submit'
         
        
          
                
            -# input placeholder??
            -# label.image-label??
          -# input??
    


    -# = render partial: 'layouts/flash'
    = yield



    